/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
/* animation */
@keyframes slide-animate{
   50%{
      top: 60%;
      left: 30%;
      
   }
   100%{
      top: 50%;
      left: 20%;
   }  
}

@keyframes fade-in-out{
   0%{
      opacity: 1;
      
   }
   50%{
      opacity: 0;
   }  
}
/* ------------------------------------------general style------------------------------------------*/
*{
   padding: 0;
   margin: 0;
   text-decoration: none;
   box-sizing: border-box;
   list-style: none;
   font-family: 'Poppins', serif;
   font-size: 10px;
}

/*---layout style---*/
.container{
   padding-left: 10%;
   padding-right: 10%;
}
/*--- button  style---*/
.primary-btn{
   position: relative;
   border-radius: 10px;
   color: white;
   background-color: #004D7B;
   font-size: 1.6rem;
   padding: 25px 50px;
   text-align: center;
   cursor: pointer;
   transition: 0.8s;
}
.primary-btn:hover{

   color: white ;
   background-color: #0b8942;
   font-size: 1.8rem;
   padding: 24px 49px;
   text-align: center;
   justify-content: center;

}

/*---texts  style---*/
.section_title{
   font-family: 'Playfair Display', serif;
   font-size: 4.8rem;
   margin-bottom: 1rem;
}


.description{
   font-size: 1.6rem;
   font-weight: 300;
   color: rgb(64, 61, 61);
}
.t_black{
   color: #2D2F30;
}
.white{
   color: #fff;
}
h4{
   color: #363940;
   font-size: 2.2rem;
   margin-bottom: 1rem;
}
.primary-p{
   font-size: 2.4rem;
   padding-bottom: 1rem;

   color: #094B72;
}

.p-color-grey{
   font-size: 2.3rem;
   color: #989595;
}


/* ------------------------------------------hero first section style------------------------------------------*/
.hero-titles-font h1{
   font-family: 'Playfair Display', serif;
   font-size: 9rem;
   color: #094B72;
}
.hero-name-font span{
   font-size: 1.7rem;
}
.head-style{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100px;
   padding-left: 10%;
   padding-right: 10%;
}

.head-right{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 60%;
}
.list-item{
   display: inline-block;
   padding: 10px 30px;
   
}
.link-item{
   font-size: 1.5rem;
}

.logo{
   width: 144px;
   height: 36px;
}
.hero{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 10%;
}

.hero-right-image{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 60%;
}
.hero-img-animation{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}
.hero-img-animation img{
   position: relative;
   z-index: 2;
   
}
#hero-circle-back{
   position: absolute;
   top: 50%;
   left: 20%;
   transform: translate(50%,-50%);
   animation: slide-animate 5s  infinite;
}
#about-hero-circle-hover{
   position: absolute;
   top: 50%;
   left: 20%;
   transform: translate(50%,-50%);
   animation: slide-animate 5s  infinite;
}
#hero-circle-front{
   position: absolute;
   z-index: 1;
}

.hero-name-font{
   border-radius: 8px;
   z-index: 4;
   padding: 4rem 8rem;
   width: 60%;
   text-align: center;
   background-color: white;
   /* box shadow style */
   box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06); 
}
.hero-p-companies{
   margin-top: 20%;
}


.hero-titles-font{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 40%;
   justify-content: space-between;
}
.hero-p-companies p {
   padding-bottom: 2rem;
}
.hero-companies-logo img{
   padding-right: 3rem;
}

/* ------------------------------------------why  section style------------------------------------------*/
.why{
   background-color: #F2F7FF;
   position: relative;
   padding-top: 5%;
   padding-bottom: 5%;
   display: flex;
   justify-content: space-between;
   background-color: #F2F7FF;
   align-items: center;
}
.Why-right-layout{
   flex-basis: 40%;
   padding-right:70px ;
   width: 40%;
}
.why-boxes-layout{
   padding-left:10% ;
   align-items: center;
   width: 60%;
}

.box {
   width: 45%;
   padding: 30px;
   color: #fff;
   text-align: start;

   /* box shadow style */
   box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06); 
}
.Why_Boxes{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 2rem;
}

/* ------------------------------------------count section style------------------------------------------*/
.section-count{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 50px; /* Add some padding for space */
   background-image: url(images/Patterns.svg);
   background-color: #094B72;  
}
.section-count svg{
   animation: fade-in-out 5s  2s ease-in  infinite;
   position: absolute;
   width: 100%;
   opacity: 1;
}
.count_details {
   display: flex;
   justify-content: space-between;
   margin-top: 4rem;
   padding: 2rem;
   width: 50%;
   text-align: center;
   z-index: 1;
}

.count_title{
   font-size: 4.8rem;
   font-weight: bold;
   z-index: 1;
}
.count_buissnes{
   padding-left: 10%;
   padding-right: 10%;
   border-right: .2rem solid #fefefe;
   border-left: .2rem solid #fefefe;
   z-index: 1;
}
/* ------------------------------------------client Reviews section style------------------------------------------*/
.section-client {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding-top: 50px;
   padding-bottom: 50px;
   background-color: #F2F7FF;
}
.client-content{
   display: flex;
   margin-top: 25px;
}
.feedbackbox{   
   margin: 25px;
   padding: 40px;
   /* box shadow style */
   box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06); 
}
.feedback{
   flex: 1;
   width: 50%;
   color: #fff;
   text-align: center;
}
.client-pic-name{
   display: flex;
   justify-content: center;
}
.client-name{
   padding-left: 20px;
}
/* ------------------------------------------complex section style------------------------------------------*/
.section-complex{
   width: 68vw;
   height: 50vh;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-start;
}

/* ------------------------------------------swiftfix footer section style------------------------------------------*/

.swiftfix-infos{
   display: flex;
   justify-content: space-between;
   margin-top: 50px;
   padding-top: 50px;
   height: 50vh;
   background-color: #094B72;
}
.list-infos {
   display: flex;
   justify-content: space-between;
   width: 50%;
}
.list h4{
   font-size: 2rem;
   color: #F2F7FF;
   padding-bottom: 25px;
}

.list-element a{
   font-size: 1.6rem;
   color: #EEEFF4;
}
.list-element {
   padding-top: 15px;
}

.footer-license{
   background-color: #004D7B;
   height: 10vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.social-media img{
   padding-left: 10px;
   padding-right: 10px;
}

.footer-license h5{
   color: #D9D9D9;
   font-size: 1.4rem;
   font-weight: lighter;
}

/* -------------------services page style------------------ */

.services{
   background-color: #F2F7FF;
   padding: 40px;
}
.services-title{
   display: flex;
   flex-direction: column;
   align-items: center;

}
.services-content{
   display: flex;
   justify-content: space-around;
   margin-top: 15vh;
}
.service-box{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 25px;
   color: #fff;
   text-align: center;
   width: 25vw;
   height: 70vh;
   box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
   align-items: center;
}
.service-box:hover{
   background-color: #08c05b;
}
.service-box:hover h4,.service-box:hover, .service-box:hover p{
   color: white;
}
.icon-services{
width: 146px;
height: 146px;
}

.first-row{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}
.order-box{
   width: 25%;
   height: 40vh;
   padding: 50px;
   text-align: start;
   transition: 0.8s;
   /* box shadow style */
   box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06); 
}
.order-box:hover h4,.order-box:hover, .order-box:hover p{
   color: white;
}
.order-box:hover{
   background-color: #094B72;
}
.order-img{
   width: 25%;
   height: 40vh;
}
.order-services{
   margin-top: 5%;
   margin-bottom: 5%;
}


.image-service{
   width: 100%;
   height: 100%;
}

/* -------------------contact page style------------------ */
.form{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 45%;
}


.form input,
select{
   border: none;
   height: 60px;
   margin-bottom: 25px;
   font-size: 2rem;
   padding-left: 25px;
   background-color: #ffffff;
   outline: none;
   color: #282626;
   -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
   box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}
textarea{
   border: none;
   margin-bottom: 25px;
   font-size: 2rem;
   padding-left: 25px;
   background-color: #ffffff;
   outline: none;
   color: #282626;
   -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
   box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}
.contact-container{
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-top:5rem;
   margin-bottom: 5rem;
}

.select-box option{
   color: #282626;
   font-size: 2rem;
}
